<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Service App Module</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add Service</button>
</mat-toolbar>

<div class="container">
  <div style="margin-top:10px">

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
          <td mat-cell *matCellDef="let row"> {{row.points}} </td>
        </ng-container>
    
        <!-- Equipment number  Column -->
        <ng-container matColumnDef="equipmentNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Number </th>
          <td mat-cell *matCellDef="let row"> {{row.equipmentNumber}} </td>
        </ng-container>
    
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>

        <ng-container matColumnDef="technician">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Technician </th>
          <td mat-cell *matCellDef="let row"> {{row.technician}} </td>
        </ng-container>

        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
          <td mat-cell *matCellDef="let row"> {{row.notes}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button (click)="editJob(row)"color="primary">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="deleteJob(row.id)">
              <mat-icon>delete</mat-icon>
            </button>

          </td>
        </ng-container>

        
    
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    

    
</div>
</div>
 
